<!-- Sticky navigation for Two-Sided Marketplace sections -->
<nav class="tsm-subnav">
  <a href="#layermap" class="tsm-subnav-link">Layer Map</a>
  <a href="#models" class="tsm-subnav-link">Business Models</a>
  <a href="#transaction" class="tsm-subnav-link">Transaction Flow</a>
  <a href="#types" class="tsm-subnav-link">Marketplace Types</a>
  <a href="#flywheel" class="tsm-subnav-link">Network Effects</a>
  <a href="#moneyflow" class="tsm-subnav-link">Money & Value</a>
  <a href="#journeys" class="tsm-subnav-link">User Journeys</a>
</nav>
